@keyframes rgbText {
    0% {
        color: red;
    }

    33% {
        color: green;
    }

    66% {
        color: blue;
    }

    100% {
        color: red;
    }
}

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 138, 70);
}

.keyboard {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
    border-radius: 2em;
    height: 400px;
    position: absolute;
    top: 45%;
    left: 22%;
    background-color: #2b2b2b;
    border: 1px solid black;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);

}


.row1 button,
.row2 button,
.row3 button,
.row4 button,
.row5 button,
.row6 button {
    font-size: x-large;
    padding: 15px;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 0 10px rgba(97, 96, 96, 0.8);
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #444;
    background-color: #0f0303;
    color: red;
    opacity: 90%;
    animation: rgbText 6s infinite linear;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(104, 104, 97);
}



.row1 {
    display: flex;
    gap: 6.4px;


}

.row2 {
    display: flex;
    gap: 10.4px;


}

.row3 {
    display: flex;
    gap: 11.5px;


}

.row4 {
    display: flex;
    gap: 10.9px;


}

.row5 {
    display: flex;
    gap: 9px;


}

.row6 {
    display: flex;
    gap: 9.2px;

}




/* styling individual buttons */
.backslash {
    width: 100px;
}

.tab {
    width: 4em;
}

.caps {
    width: 5.5em;
}

.enter {
    width: 6em;

}

.shift {
    width: 7em;
}


.ctrl {
    width: 4em;
}

.alt {
    width: 3em;
}

.space {
    width: 17.6em;
}

.win img,
.backspace img {
    color: red;
    opacity: 80%;
    animation: rgbText 6s infinite linear;

}


.backspace img {
    width: 23px;
    /* Set image width */
    height: 20px;
    /* Set image height */
    margin-right: 0.5em;
    /* Add space between image and text */
}


/* Describtion  */
.describtion {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items:center ;
    border: 3px solid black;
    font-weight: bold;
    background-color: rgb(241, 178, 94);
    border-radius: 10px;
    font-size:large !important;
    width: 59em;
    justify-self: center !important;
    padding: 1em;
    margin: 1em;



}
.describtion h1{
    margin-bottom: 0.4em;
}
.describtion p{
    line-height: 1.3em;
    
}


/* <!-- Display Field --> */
#display{
    display: flex;
    justify-self: center !important;

    font-size: x-large;
    background-color: aliceblue;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 25em;
}
